In [7]:
import pandas as pd
from pathlib import Path
%matplotlib inline

In [15]:
#Reading FB 
fb = Path("./fb_data.csv")
fb_df = pd.read_csv(fb, index_col="date", parse_dates=True, infer_datetime_format=True)

#Reading Twitter
twtr = Path("./twtr_data.csv")
twtr_df = pd.read_csv(twtr, index_col="date", parse_dates=True, infer_datetime_format=True)

#Reading Snapchat
snap = Path("./snap_data.csv")
snap_df = pd.read_csv(snap, index_col="date", parse_dates=True, infer_datetime_format=True)

#Reading SPY500 
spy = Path("./sp500_data.csv")
spy_df = pd.read_csv(spy, index_col = "date", parse_dates = True, infer_datetime_format = True) 

# #Testing
# fb_test = fb_df.head()
# twtr_test = twtr_df.head()
# snap_test = snap_df.head()
# spy_test = spy_df.head()

# print(fb_test, twtr_test, snap_test, spy_test)

             close
date
2019-05-17  185.30
2019-05-16  186.99
2019-05-15  186.27
2019-05-14  180.73
2019-05-13  181.54             close
date
2019-05-17  37.50
2019-05-16  38.30
2019-05-15  37.90
2019-05-14  36.93
2019-05-13  36.59             close
date
2019-05-17  11.49
2019-05-16  11.42
2019-05-15  10.66
2019-05-14  10.49
2019-05-13  10.11                   close
date
2014-05-20  1872.829956
2014-05-21  1888.030029
2014-05-22  1892.489990
2014-05-23  1900.530029
2014-05-27  1911.910034

/var/folders/jm/yl4jhp9j0z1b4xdws78jvgjc0000gn/T/ipykernel_28294/2165761786.py:3: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  fb_df = pd.read_csv(fb, index_col="date", parse_dates=True, infer_datetime_format=True)
/var/folders/jm/yl4jhp9j0z1b4xdws78jvgjc0000gn/T/ipykernel_28294/2165761786.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  fb_df = pd.read_csv(fb, index_col="date", parse_dates=True, infer_datetime_format=True)
/var/folders/jm/yl4jhp9j0z1b4xdws78jvgjc0000gn/T/ipykernel_28294/2165761786.py:7: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  twtr_df = pd.read_csv(twtr, index_col="date", parse_dates=True, infer_datetime_format=True)
/var/folders/jm/yl4jhp9j0z1b4xdws78jvgjc0000gn/T/ipykernel_28294/2165761786.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  twtr_df = pd.read_csv(twtr, index_col="date", parse_dates=True, infer_datetime_format=True)
/var/folders/jm/yl4jhp9j0z1b4xdws78jvgjc0000gn/T/ipykernel_28294/2165761786.py:11: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  snap_df = pd.read_csv(snap, index_col="date", parse_dates=True, infer_datetime_format=True)
/var/folders/jm/yl4jhp9j0z1b4xdws78jvgjc0000gn/T/ipykernel_28294/2165761786.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  snap_df = pd.read_csv(snap, index_col="date", parse_dates=True, infer_datetime_format=True)
/var/folders/jm/yl4jhp9j0z1b4xdws78jvgjc0000gn/T/ipykernel_28294/2165761786.py:15: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  spy_df = pd.read_csv(spy, index_col = "date", parse_dates = True, infer_datetime_format = True)
/var/folders/jm/yl4jhp9j0z1b4xdws78jvgjc0000gn/T/ipykernel_28294/2165761786.py:15: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  spy_df = pd.read_csv(spy, index_col = "date", parse_dates = True, infer_datetime_format = True)

In [18]:
# Create a new pivot table where the columns are the closing prices for each ticker
combined_df = pd.concat([fb_df, twtr_df, snap_df, spy_df], axis="columns", join="inner")

# Sort datetime index in ascending order (past to present)
combined_df.sort_index(inplace=True)

# Set column names to  and 'S&P 500'
combined_df.columns = ["Facebook","Twitter","Snap", "S&P 500"]

# Display a few rows
combined_df.head()

            Facebook  Twitter   Snap      S&P 500
date
2017-03-02    136.76    15.79  24.48  2381.919922
2017-03-03    137.17    15.75  27.09  2383.120117
2017-03-06    137.42    15.56  23.77  2375.310059
2017-03-07    137.30    15.18  21.44  2368.389893
2017-03-08    137.72    15.24  22.81  2362.979980

In [26]:
daily_returns = combined_df.pct_change().dropna() #source: https://www.digitalocean.com/community/tutorials/pandas-dropna-drop-null-na-values-from-dataframe 
daily_returns.head()

            Facebook   Twitter      Snap   S&P 500
date
2017-03-02       NaN       NaN       NaN       NaN
2017-03-03  0.002998 -0.002533  0.106618  0.000504
2017-03-06  0.001823 -0.012063 -0.122554 -0.003277
2017-03-07 -0.000873 -0.024422 -0.098023 -0.002913
2017-03-08  0.003059  0.003953  0.063899 -0.002284